<section class="bg-Overlay min-h-[700px] p-5 rounded-lg mb-20" id="company">
  @if (company) {
    <h2 class="font-semibold text-lg mb-4" ><i class="fa-regular fa-building pe-1"></i> Datos de la compañia</h2>
  <div class="bg-Surface text-Text p-5 rounded-lg">
    <p><strong>Nombre:</strong> {{company.company_name}}</p>
    <!-- <p><strong>Address:</strong> 123 Innovation Drive, Tech City</p>
    <p><strong>Contact:</strong> (123) 456-7890</p> -->
    <!-- <button (click)="companyCrud(action.UPDATE)" class="text-sm hover:text-Pine">Editar Compañia</button> -->
  </div>
    <!-- <h2 class="font-semibold text-lg my-4"><i class="fa-regular fa-file-lines pe-1"></i> Credenciales de la compañia</h2>
    
    <div class="bg-Surface text-Text p-4 rounded-lg">
      @if(company.keys){
        <button class="text-sm hover:text-Pine">
          Editar credenciales
        </button>
      } @else {
        <button class="text-sm hover:text-Pine">
          Crear credenciales
        </button>
      }
    </div> -->
  }
</section>