<section class="bg-Overlay min-h-[700px] p-5 rounded-lg mb-20" id="company">
  @if (company) {
    <h2 class="font-semibold text-lg mb-4">
      <i class="fa-regular fa-building pe-1"></i> Datos de la Compañía
    </h2>
    <div class="bg-Surface text-Text p-5 rounded-lg">
      <p class="mb-4"><strong>Nombre:</strong> {{ company.company_name }}</p>

      <div class="mb-4">
        <h3 class="font-medium text-sm mb-2">Claves de Cloudinary:</h3>
        @if (company.keys?.cloudinary_keys) {
          <p><strong>Cloud Name:</strong> {{ company.keys.cloudinary_keys.cloud_name }}</p>
          @for (field of ['api_key', 'api_secret']; track $index) {
            <li class="flex items-center">
              <span><strong>{{[field] }}:</strong> {{ isVisible($index, field) ? company.keys.cloudinary_keys[field] : '******' }}</span>
              <button (click)="toggleVisibility($index, field)" class="ml-2 text-sm hover:text-Pine">
                <i class="fas" [ngClass]="isVisible($index, field) ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
              <button (click)="copyToClipboard(company.keys.cloudinary_keys[field])" class="ml-2 text-sm hover:text-Pine">
                Copiar
              </button>
            </li>
          }

        } @else {
          <p class="text-sm text-gray-500">La compañía no tiene claves de Cloudinary.</p>
        }
      </div>

      <div class="mb-4">
        <h3 class="font-medium text-sm mb-2">Información de Contacto:</h3>
        @if (company.contact_info) {
          <p><strong>Email:</strong> {{ company.contact_info.email || 'No disponible' }}</p>
          <p><strong>Teléfono:</strong> {{ company.contact_info.phone || 'No disponible' }}</p>
          <p><strong>Dirección:</strong> {{ company.contact_info.address || 'No disponible' }}</p>
          <p><strong>Horario:</strong> {{ company.contact_info.schedule || 'No disponible' }}</p>
        } @else {
          <p class="text-sm text-gray-500">La compañía no tiene información de contacto. Edita para agregarla.</p>
        }
      </div>

      <div class="mb-4">
        <h3 class="font-medium text-sm mb-2">Emails:</h3>
        @if (company.keys && company.keys.email_keys?.length) {
          <ul>
            @for (email of company.keys.email_keys; track $index) {
              <li class="flex items-center"> <span><strong>ID:</strong> {{ email.id || 'No disponible' }}</span></li>
              @for (field of ['host', 'user', 'email', 'password', 'port']; track $index) {
                <li class="flex items-center">
                  <span><strong>{{[field] }}:</strong> {{ isVisible($index, field) ? email[field] : '******' }}</span>
                  <button (click)="toggleVisibility($index, field)" class="ml-2 text-sm hover:text-Pine">
                    <i class="fas" [ngClass]="isVisible($index, field) ? 'fa-eye-slash' : 'fa-eye'"></i>
                  </button>
                  <button (click)="copyToClipboard(email[field])" class="ml-2 text-sm hover:text-Pine">
                    Copiar
                  </button>
                </li>
              }
            }
          </ul>
        } @else {
          <p class="text-sm text-gray-500">La compañía no tiene emails. Edita para agregarlos.</p>
        }
      </div>

      <div class="mb-4">
        <h3 class="font-medium text-sm mb-2">Redes Sociales:</h3>
        @if (company.links) {
          <p><strong>Instagram:</strong> {{ company.links.instagram_link || 'No disponible' }}</p>
          <p><strong>Facebook:</strong> {{ company.links.facebook_link || 'No disponible' }}</p>
          <p><strong>Twitter:</strong> {{ company.links.twitter_link || 'No disponible' }}</p>
        } @else {
          <p class="text-sm text-gray-500">La compañía no tiene redes sociales. Edita para agregarlas.</p>
        }
      </div>

      <button
        (click)="companyCrud(action.UPDATE, company)"
        class="text-sm hover:text-Pine mt-4"
      >
        Editar Compañía
      </button>
    </div>
  } @else {
    <p class="text-sm text-gray-500">No hay datos disponibles para mostrar.</p>
  }
</section>
