<div class="min-h-screen flex p-6 px-12 mt-4">
  <app-side-navbar></app-side-navbar>
  <div class=" sm:ml-64 w-full">
    <div class="flex bg-Overlay items-center mb-10 p-4 gap-2  rounded-lg ">
      <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center  text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
          </svg>
      </button>
  
      <h5 class=" text-white font-semibold text-lg ps-4">Manage Companies</h5>
      
    </div>
    <div class="bg-Overlay p-6 rounded-2xl">
      <h1 class="w-full font-semibold text-2xl text-white text-start ml-3">Gestionar Empresas</h1>
      <section class="flex flex-wrap gap-4 justify-start items-start w-full mt-2 pl-3">
        <div class="flex gap-4">
          <button class="p-3 mt-1 text-xs bg-Pine hover:bg-Pine-700/70 text-Text font-semibold rounded-lg focus:outline-none">
            Agregar compañía
          </button>
        </div>
      </section>
      <div class="grid mt-2 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 grid-flow-dense justify-center items-center">
          @for (company of companies; track $index) {
            <summary class="bg-Base h-full text-white rounded-2xl p-5 m-3 flex flex-wrap justify-around flex-col gap-4 group/bg overflow-hidden shadow-xl relative">
                <article>
                  <p>{{ company.company_name }}</p>
                </article>                
                <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 ">
                  <ul class="flex flex-wrap -mb-px">
                    <li class="me-2">
                      <button
                        class="tab-link inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 "
                        [class.active]="company.activeTab === 'users'"
                        (click)="showTab('users', $index)"
                      >
                        Usuarios
                      </button>
                    </li>
                    <li class="me-2">
                      <button
                        class="tab-link inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300  "
                        [class.active]="company.activeTab === 'catalogs'"
                        (click)="showTab('catalogs', $index)"
                      >
                        Catálogos
                      </button>
                    </li>
                  </ul>
                </div>
                @if(company.activeTab === 'users') {
                  <article>
                    <p>Usuarios</p>
                    <div class="flex flex-col gap-1 text-gray-400 text-sm mt-2">
                        <div class="tree-category-scroll h-36 overflow-y-scroll">
                          @for (user of company.users; track $index) {
                            <div class="flex flex-row justify-between w-full pr-4">
                              <summary class="flex items-center justify-between group/bg w-full bg-Surface text-Text p-3 rounded-lg mb-2">
                                <p>{{ user.user_name }}</p>
                                <button type="button" [cdkMenuTriggerFor]="menu" class="peer-hover:opacity-100 focus:opacity-100 transition-opacity duration-300 inline-block hover:text-Pine px-3 py-2 bg-HighLightLow/60 rounded-lg text-md font-medium text-Text hover:bg-Pine focus:bg-Pine focus:outline-none" type="button">
                                  <i class="fa-solid fa-ellipsis text-white"></i>
                                </button>
                                <ng-template #menu>
                                  <div class="mt-2 p-2 peer rounded-md shadow-lg bg-Overlay ring-1 ring-black ring-opacity-5" cdkMenu>
                                    <button (click)="userCrud(user, null, action.READ)" class="block px-4 py-2 text-sm text-Text hover:text-Pine" cdkMenuItem><i class="fa-solid fa-eye ps-1 pr-2"></i>Ver</button>
                                    <button (click)="userCrud(user, null, action.UPDATE)" class="block px-4 py-2 text-sm text-Text hover:text-Pine" cdkMenuItem><i class="fa-solid fa-pen ps-1 pr-2"></i>Editar</button>
                                    @if(company.users && company.users.length !== 1) {
                                        <button (click)="deleteUser(user.id)" class="block px-4 py-2 text-sm text-Text hover:text-red-400" cdkMenuItem><i class="fa-solid fa-xmark ps-1 pr-2"></i>Eliminar</button>
                                    }
                                  </div>
                                </ng-template>
                              </summary>
                          </div>
                        }
                        </div>
                        <div class="flex flex-wrap sm:flex-row sm:flex-nowrap gap-2">
                            <button (click)="userCrud(null, company, action.CREATE)" class="bg-Pine/70 w-full text-white px-4 py-2 rounded-lg hover:bg-Pine">
                            Agregar usuario
                            </button>
                        </div>
                    </div>
                  </article>
                }
                @if(company.activeTab === 'catalogs') {
                  <article>
                    <p>Catálogos</p>
                    <div class="flex flex-col gap-1 text-gray-400 text-sm mt-2">
                      <div class="tree-category-scroll h-36 overflow-y-scroll">
                        @for (catalog of company.catalogs; track $index) {
                          <div class="flex p-3 justify-between">
                            <span>{{ catalog.name }}</span>
                            <button class="bg-Rose/70 text-white px-4 py-1 rounded-lg hover:bg-Rose">
                              Delete Catalog
                            </button>
                          </div>
                        }
                      </div>
                      <div class="flex flex-wrap sm:flex-row sm:flex-nowrap gap-2">
                        <button class="bg-Pine/70 w-full sm:w-full text-white px-4 py-2 rounded-lg hover:bg-Pine">
                          Add Catalog
                        </button>
                      </div>
                    </div>
                  </article>
                }
                <button type="button" [cdkMenuTriggerFor]="menu" class="opacity-0 group-hover/bg:opacity-100 peer-hover:opacity-100 focus:opacity-100 transition-opacity duration-300 inline-block absolute hover:text-Pine px-3 py-2  bg-HighLightLow/60  top-4 right-3 rounded-lg   text-md font-medium text-Text hover:bg-Pine focus:bg-Pine focus:outline-none" type="button">
                  <i class="fa-solid fa-ellipsis  text-white"></i>
                </button>
                <ng-template #menu>
                  <div class=" mt-2 p-2 peer rounded-md shadow-lg bg-Overlay ring-1 ring-black ring-opacity-5" cdkMenu>
                    <button class="block px-4 py-2 text-sm text-Text hover:text-Pine" cdkMenuItem><i class="fa-solid fa-pen ps-1"></i>  Editar</button>
                    <button class="block px-4 py-2 text-sm text-Text hover:text-red-400" cdkMenuItem><i class="fa-solid fa-xmark ps-1"></i>  Borrar</button>
                  </div>
                </ng-template>
            </summary>
          }
      </div>
    </div>
  </div>
</div>
