<form [formGroup]="imageForm">
  
<div  class="" formArrayName="images">
  <div class="grid grid-cols-4 gap-3 max-h-[700px] border-y-4 border-Base bg-Base p-3  rounded-md overflow-y-scroll scroll-smooth snap-y snap-mandatory ">
    <div  *ngFor="let imageControl of imagesArray.controls; let i = index" [formGroupName]="i">
      <div class="flex relative group flex-col gap-2 p-2 justify-center bg-Overlay rounded snap-always snap-center">
        <div class="absolute justify-center items-center group-hover:flex inset-0 bg-black/70 {{imageControl.get('loading')?.value ? 'flex' : 'hidden'}}">
            <div class="flex gap-4 items-center justify-center">
              <button type="button" (click)="openDialog()"><i class="fa-regular fa-eye text-lg text-gray-200/60 hover:text-gray-200 "></i></button>                               
              @if(!imageControl.get('id')?.value && !imageControl.get('loading')?.value) { 
                <button (click)="uploadImage(imageControl)" type="button"><i class="fa-solid fa-upload text-lg text-gray-200/60 hover:text-gray-200 "></i></button>
              }
              @if(imageControl.get('loading')?.value) {
                <div class="flex justify-center items-center">
                  <svg aria-hidden="true" role="status" class="inline w-4 h-4 text-Text animate-spin " viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
                  </svg>
                </div>
              }
              @if(!imageControl.get('loading')?.value) {
                <button type="button" (click)="removeFormItems(i, 'images', imageControl.get('id')?.value)"><i class="fa-regular fa-trash-can text-lg hover:text-red-400 text-red-200"></i></button>
              }  

            </div>
        </div>
        <dialog #imageDialog >
          <div class="fixed inset-0 z-[9000] bg-black/50 h-full w-full flex justify-center items-center" (click)="closeDialog($event)">
              <button type="button" class="absolute  outline-none top-8 right-8 bg-black/60  p-3 px-5 text-white" (click)="closeDialog($event)">
                  <i (click)="closeDialog($event)" class="fa-solid text-lg fa-xmark"></i>
              </button>
      
              
              <div class="bg-white  rounded-lg p-4 max-w-xl relative">
              <img 
                  class="w-full aspect-[700/800] h-auto" 
                  [src]="imageControl.get('url')?.value ? imageControl.get('url')?.value : './assets/img/create-product-placeholder.jpg' "
                  alt="Imagen completa">
              
              </div>

          </div>
        </dialog>                          
        <img class="aspect-video object-cover max-h-[200px]" [src]="imageControl.get('url')?.value ? imageControl.get('url')?.value : './assets/img/create-product-placeholder.jpg' " alt="Imagen subida">
      </div>                        
    </div>
  </div>
</div>

<div class=" pt-2 mt-2 flex justify-between items-center gap-2">
  <input 
    name="file"
    type="file"
    class="rounded-lg hover:bg-Pine bg-HighLightLow border text-Text"
    (change)="onImageSelected($event)"
    id="img"
    placeholder="Agregar Imagen"
    multiple
    hidden
    accept="image/*">
   <div class="flex items-center gap-2">
    <label class="text-Text hover:text-Pine hover:cursor-pointer items-center flex gap-2" for="img" >
       <i class="fa-solid fa-folder-plus"></i>
       Agregar Imagen
    </label>
    
    <span >{{ fileName || 'Ningún archivo seleccionado' }}</span>
   </div>
   @if(uploading) {
    <span class="p-2 cursor-pointer text-Text hover:bg-Pine bg-Pine/70 rounded-lg justify-center  inline-flex items-center px-4 py-1 w-[150px]">
      <div class="flex justify-center items-center gap-2">
        <svg aria-hidden="true" role="status" class="inline w-4 h-4 text-Text animate-spin " viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
          <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
        </svg>
        Subiendo
      </div>
    </span>
  } @else if(imagesArray.controls.length !== 0 && imageToUpload){
    <span (click)="uploadImages()" class="p-2 cursor-pointer text-Text hover:bg-Pine bg-Pine/70 rounded-lg justify-center  inline-flex items-center px-4 py-1 w-[150px]"><i class="fa-solid pe-2 fa-upload text-lg text-gray-200/60 "></i>Subir todo</span>
  }
</div>


</form>
<app-pintura-editor></app-pintura-editor>
