<div class="flex flex-col mr-10">
  <div class="p">
    <input type="search" [formControl]="searcherCategory" placeholder="Buscar categorias" class="p-2 border border-gray-300 rounded-lg focus:ring-Pine focus:border-Pine">
  </div>

  <div class="border-b-2 flex mt-2 border-spacing-1">
    <h5 class="text-Pine text-xl font-bold"> {{selectedCategory ? 'Categoria ' + selectedCategory : 'Categorias' }}</h5>
  </div>

  <ul class="flex mt-4 flex-col gap-1">
    <li *ngFor="let category of categories" 
        (click)="getProducts(category.category || '')" 
        [class.bg-Pine]="selectedCategory === category.category"
        [class.text-white]="selectedCategory === category.category"
        class="p-2 rounded-lg cursor-pointer font-semibold hover:bg-Pine text-Text hover:text-white">
      {{category.category}}
    </li>
  </ul>

 <app-category-modal></app-category-modal>
</div>
