<div >
  <div class="flex mt-28 w-full px-10">
      <app-category-explore></app-category-explore>

      <div class=" min-h-screen grid gap-4 md:grid-cols-2 pb-10 min-[1210px]:grid-cols-3  min-[1501px]:grid-cols-4  grid-rows-1 mb-auto">
        @for (product of paginatedProducts; track $index) {
        <app-card-product
          [renderProduct]="product"
          (booleanOutput)="handleBooleanValue($event)"
          ></app-card-product>
        }
      </div>

      <div class="fixed inset-0 z-[9000] bg-black/50    md:h-full  w-full flex justify-center items-center " *ngIf="toggleForm">
        <app-form-product (booleanOutput)="handleBooleanValue($event)" ></app-form-product>
        
      </div>
      <div class="fixed inset-0 z-[9000] bg-Overlay  overflow-auto" *ngIf="toggleFormNewProduct" >
        <app-form-new-product (newProductForm)="toggleModal(true)"></app-form-new-product>
      </div>

      <div class="fixed inset-0 z-[9000] bg-black/50 h-full w-full flex justify-center items-center " *ngIf="toggleFormSupplier" >
        <app-form-supplier></app-form-supplier>
      </div>

  </div>


  <mat-paginator
  [length]="totalProducts"
  [pageSize]="productsPerPage"
  class="pt-2"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="onPageChange($event)">
  </mat-paginator>





</div>
