@import '@angular/cdk/overlay-prebuilt.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.popupAnimationIn {
  scale: 1;
  transition: scale 0.3s ease;
  @starting-style {
    scale: 0
  }

}

.popupAnimationOut {
  transition: scale 0.3s ease,
  display .3s ease allow-discrete;
  scale: 0;

}
