@import '@angular/cdk/overlay-prebuilt.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.popupAnimationIn {
  scale: 1;
  transition: scale 0.3s ease;
  @starting-style {
    scale: 0
  }

}

.popupAnimationOut {
  transition: scale 0.3s ease,
  display .3s ease allow-discrete;
  scale: 0;

}


.mat-mdc-paginator-container, .mat-mdc-form-field-flex, .mat-mdc-text-field-wrapper .mdc-text-field .mdc-text-field--outlined .mdc-text-field--no-label {
  background-color: #393552;
  color: white

}

#mat-select-0-panel{
  background-color: #393552;
  color: white

}

#mat-select-value-1 , .mat-mdc-select-trigger{
  padding: 5px;
  border: none
}

.tree-category-scroll {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.tree-category-scroll::-webkit-scrollbar {
  width: 8px;
  direction: rtl;
}

.tree-category-scroll::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.tree-category-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.tree-category-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
  background: #393552 !important;
  color: #fff !important;
}
.mat-mdc-dialog-container .mdc-dialog__title {
  color: #fff !important;
}


div#catalogType-panel {
  background: #2a273f!important;
  color: white!important;
}

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--no-label {
  --tw-bg-opacity: 1!important;
  background-color: rgb(42 40 62 / var(--tw-bg-opacity))!important;
  padding-left: 2rem!important;
    padding-right: 2rem!important;
    border-radius: 0.5rem!important;
    width: 100%!important;
    border-color: #6B7280;
    border-width: 1px;
}

div#mat-select-value-1, .mat-mdc-select-trigger {
  --tw-bg-opacity: 1!important;
  background-color: rgb(42 40 62 / var(--tw-bg-opacity))!important;
}

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--no-label:hover{
  border-color: #3e8fb0!important;
}


span.mdc-tab__text-label {
  color: #3e8fb0!important;
  padding-bottom: 10px;
}

.custom-text-sidebar{
  color: rgba(0, 0, 0, 0.901)!important;
}

.custom-icon-color-sidebar{
  color: #c4a7e7!important
}
.angular-editor-wrapper {
  background-color: #fff;
  max-width: 100%;
}