<div class="bg-Base text-white min-h-screen mt-16 p-6">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-6">
    <section class="bg-Overlay  p-4 rounded-lg">
      @if (company) {
        <h2 class="font-semibold text-lg mb-4">Company Credentials</h2>
      <div class="bg-Surface text-Text p-4 rounded-lg">
        <p><strong>Company Name:</strong> {{company.company_name}}</p>
        <!-- <p><strong>Address:</strong> 123 Innovation Drive, Tech City</p>
        <p><strong>Contact:</strong> (123) 456-7890</p> -->
      </div>
      }
    </section>

    <section class="bg-Overlay p-4 rounded-lg">
      <h2 class="font-semibold text-lg mb-4">Users</h2>
      @for (user of users; track $index) {
        <summary class="flex items-center justify-between group/bg  bg-Surface text-Text p-3 rounded-lg mb-2">
          <p>{{ user.user_name }}</p>
        
          <button type="button" [cdkMenuTriggerFor]="menu" class="opacity-0 group-hover/bg:opacity-100 peer-hover:opacity-100 focus:opacity-100 transition-opacity duration-300 inline-block  hover:text-Pine px-3 py-2  bg-HighLightLow/60   rounded-lg   text-md font-medium text-Text hover:bg-Pine focus:bg-Pine focus:outline-none" type="button">
            <i class="fa-solid fa-ellipsis  text-white"></i>
          </button>
      
        <ng-template   #menu>
          <div class=" mt-2 p-2 peer rounded-md shadow-lg bg-Overlay ring-1 ring-black ring-opacity-5" cdkMenu>
            <button class="block px-4 py-2 text-sm text-Text hover:text-Pine" (click)="editUser(user)" cdkMenuItem><i class="fa-solid fa-pen ps-1"></i>  Editar</button>
            <button class="block px-4 py-2 text-sm text-Text hover:text-red-400" (click)="removeUser(user)" cdkMenuItem><i class="fa-solid fa-xmark ps-1"></i>  Borrar</button>
          </div>
        </ng-template>
        </summary>
      }
      
    </section>

   <section class="bg-Overlay p-4 rounded-lg">
      <h2 class="font-semibold text-lg mb-4">Catalogs</h2>
      @for (catalog of catalogs; track $index) {
        <div class="flex items-center justify-between bg-Surface text-Text p-3 rounded-lg mb-2">
          <p>{{ catalog.name }}</p>
          <a routerLink="/catalog" [queryParams]="{ id: catalog.id }" routerLinkActive="router-link-active" class="bg-Pine/70 text-white px-4 py-1 rounded-lg hover:bg-Pine">
            Administrar Catalogo
          </a>
        </div>
        <div class="flex items-center mt-4">
          <button (click)="addCatalog()" class="bg-Pine/70 text-white px-4 py-1 rounded-lg hover:bg-Pine">
            Agregar
          </button>
        </div>
      }
    </section>
  </div>
</div>
